# Razorpay Configuration
VITE_RAZORPAY_KEY_ID=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# Gemini AI Configuration
GEMINI_API_KEY=

# Finnhub API Configuration
VITE_FINNHUB_API_KEY=
FINNHUB_API_KEY=

# CoinMarketCap API Configuration
COINMARKETCAP_API_KEY=

